In [1]:
from collections import OrderedDict
from bokeh.charts import output_file
from bokeh.palettes import Spectral11
from bokeh.plotting import figure, show

from bokeh.sampledata.iris import flowers
from bokeh.charts import Scatter

import numpy as np
import pandas as pd
import tables

In [4]:
line_listing = pd.read_csv('http://research.rods.pitt.edu/line_listing.csv')
line_listing

,simulator_time,location_admin1,location_admin2,sex,integer_age,infection_state,count
0,0,State1,County1,M,1,SUSCEPTIBLE,0
1,0,State1,County2,M,1,SUSCEPTIBLE,0
2,0,State1,County3,M,1,SUSCEPTIBLE,0
3,0,State2,County1,M,1,SUSCEPTIBLE,2000
4,0,State2,County2,M,1,SUSCEPTIBLE,5000
5,0,State2,County3,M,1,SUSCEPTIBLE,3000
6,0,State3,County1,M,1,SUSCEPTIBLE,6000
7,0,State3,County2,M,1,SUSCEPTIBLE,15000
8,0,State3,County3,M,1,SUSCEPTIBLE,9000
9,1,State1,County1,M,1,SUSCEPTIBLE,0
10,1,State1,County2,M,1,SUSCEPTIBLE,0
11,1,State1,County3,M,1,SUSCEPTIBLE,0
12,1,State2,County1,M,1,SUSCEPTIBLE,2000
13,1,State2,County2,M,1,SUSCEPTIBLE,5000
14,1,State2,County3,M,1,SUSCEPTIBLE,3000
15,1,State3,County1,M,1,SUSCEPTIBLE,6000
16,1,State3,County2,M,1,SUSCEPTIBLE,15000
17,1,State3,County3,M,1,SUSCEPTIBLE,9000
18,2,State1,County1,M,1,SUSCEPTIBLE,0
19,2,State1,County2,M,1,SUSCEPTIBLE,0
20,2,State1,County3,M,1,SUSCEPTIBLE,0
21,2,State2,County1,M,1,SUSCEPTIBLE,2000
22,2,State2,County2,M,1,SUSCEPTIBLE,5000
23,2,State2,County3,M,1,SUSCEPTIBLE,3000
24,2,State3,County1,M,1,SUSCEPTIBLE,6000
25,2,State3,County2,M,1,SUSCEPTIBLE,15000
26,2,State3,County3,M,1,SUSCEPTIBLE,9000
27,3,State1,County1,M,1,SUSCEPTIBLE,0
28,3,State1,County2,M,1,SUSCEPTIBLE,0
29,3,State1,County3,M,1,SUSCEPTIBLE,0
...,...,...,...,...,...,...,...
1336470,146,State3,County1,F,99,NEWLY_SICK,0
1336471,146,State3,County2,F,99,NEWLY_SICK,0
1336472,146,State3,County3,F,99,NEWLY_SICK,0
1336473,147,State1,County1,F,99,NEWLY_SICK,0
1336474,147,State1,County2,F,99,NEWLY_SICK,0
1336475,147,State1,County3,F,99,NEWLY_SICK,0
1336476,147,State2,County1,F,99,NEWLY_SICK,0
1336477,147,State2,County2,F,99,NEWLY_SICK,0
1336478,147,State2,County3,F,99,NEWLY_SICK,0
1336479,147,State3,County1,F,99,NEWLY_SICK,0
1336480,147,State3,County2,F,99,NEWLY_SICK,0
1336481,147,State3,County3,F,99,NEWLY_SICK,0
1336482,148,State1,County1,F,99,NEWLY_SICK,0
1336483,148,State1,County2,F,99,NEWLY_SICK,0
1336484,148,State1,County3,F,99,NEWLY_SICK,0
1336485,148,State2,County1,F,99,NEWLY_SICK,0
1336486,148,State2,County2,F,99,NEWLY_SICK,0
1336487,148,State2,County3,F,99,NEWLY_SICK,0
1336488,148,State3,County1,F,99,NEWLY_SICK,0
1336489,148,State3,County2,F,99,NEWLY_SICK,0
1336490,148,State3,County3,F,99,NEWLY_SICK,0
1336491,149,State1,County1,F,99,NEWLY_SICK,0
1336492,149,State1,County2,F,99,NEWLY_SICK,0
1336493,149,State1,County3,F,99,NEWLY_SICK,0
1336494,149,State2,County1,F,99,NEWLY_SICK,0
1336495,149,State2,County2,F,99,NEWLY_SICK,0
1336496,149,State2,County3,F,99,NEWLY_SICK,0
1336497,149,State3,County1,F,99,NEWLY_SICK,0
1336498,149,State3,County2,F,99,NEWLY_SICK,0
1336499,149,State3,County3,F,99,NEWLY_SICK,0

In [38]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_per_day = newly_sick.groupby(['simulator_time', 'integer_age'])['count'].aggregate(sum)
newly_sick_per_day = newly_sick_per_day.to_frame("count")
newly_sick_per_day = newly_sick_per_day.reset_index()
newly_sick_per_day

       simulator_time  integer_age  count
0                   0            1      0
1                   0            2      0
2                   0            3      0
3                   0            4      0
4                   0            5      0
5                   0            6      0
6                   0            7      0
7                   0            8      0
8                   0            9      0
9                   0           10      0
10                  0           11      0
11                  0           12      0
12                  0           13      0
13                  0           14      0
14                  0           15      0
15                  0           16      0
16                  0           17      0
17                  0           18      0
18                  0           19      0
19                  0           20      0
20                  0           21      0
21                  0           22      0
22                  0           23      0
23                  0           24      0
24                  0           25      0
25                  0           26      0
26                  0           27      0
27                  0           28      0
28                  0           29      0
29                  0           30      0
...               ...          ...    ...
14820             149           70      0
14821             149           71      0
14822             149           72      0
14823             149           73      0
14824             149           74      0
14825             149           75      0
14826             149           76      0
14827             149           77      0
14828             149           78      0
14829             149           79      0
14830             149           80      0
14831             149           81      0
14832             149           82      0
14833             149           83      0
14834             149           84      0
14835             149           85      0
14836             149           86      0
14837             149           87      0
14838             149           88      0
14839             149           89      0
14840             149           90      0
14841             149           91      0
14842             149           92      0
14843             149           93      0
14844             149           94      0
14845             149           95      0
14846             149           96      0
14847             149           97      0
14848             149           98      0
14849             149           99      0

[14850 rows x 3 columns]

In [60]:
plot = Scatter(newly_sick_per_day, x='simulator_time', y='count',
            title="Newly Sick Per Day", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspd.html")
show(plot)

In [66]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_per_day_by_sex = newly_sick.groupby(['simulator_time', 'sex'])['count'].aggregate(sum)
newly_sick_per_day_by_sex = newly_sick_per_day_by_sex.to_frame("count")
newly_sick_per_day_by_sex = newly_sick_per_day_by_sex.reset_index()
newly_sick_per_day_by_sex

     simulator_time sex  count
0                 0   F      0
1                 0   M      0
2                 1   F      0
3                 1   M      0
4                 2   F   1310
5                 2   M    610
6                 3   F   1640
7                 3   M    690
8                 4   F   1820
9                 4   M    750
10                5   F   1990
11                5   M    800
12                6   F   2200
13                6   M    840
14                7   F   2390
15                7   M    900
16                8   F   2620
17                8   M    970
18                9   F   2880
19                9   M   1020
20               10   F   3130
21               10   M   1090
22               11   F   3430
23               11   M   1170
24               12   F   3740
25               12   M   1250
26               13   F   4090
27               13   M   1330
28               14   F   4470
29               14   M   1410
..              ...  ..    ...
270             135   F    230
271             135   M   3250
272             136   F    210
273             136   M   3090
274             137   F    190
275             137   M   2920
276             138   F    170
277             138   M   2770
278             139   F    150
279             139   M   2620
280             140   F    140
281             140   M   2490
282             141   F    130
283             141   M   2360
284             142   F    120
285             142   M   2220
286             143   F    120
287             143   M   2100
288             144   F     90
289             144   M   1980
290             145   F     80
291             145   M   1880
292             146   F     70
293             146   M   1770
294             147   F     70
295             147   M   1680
296             148   F     70
297             148   M   1580
298             149   F     60
299             149   M   1500

[300 rows x 3 columns]

In [63]:
plot = Scatter(newly_sick_per_day_by_sex, x='simulator_time', y='count', color='sex',
            title="Newly Sick per Day by Sex", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(plot)

In [72]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_per_day_by_sex_and_state = newly_sick.groupby(['simulator_time', 'sex','location_admin1'])['count'].aggregate(sum)
newly_sick_per_day_by_sex_and_state = newly_sick_per_day_by_sex_and_state.to_frame("count")
newly_sick_per_day_by_sex_and_state = newly_sick_per_day_by_sex_and_state.reset_index()

newly_sick_females_per_day_by_state = (newly_sick_per_day_by_sex_and_state
                                       [newly_sick_per_day_by_sex_and_state.sex.str.contains("F") == True])
newly_sick_females_per_day_by_state

     simulator_time sex location_admin1  count
0                 0   F          State1      0
1                 0   F          State2      0
2                 0   F          State3      0
6                 1   F          State1      0
7                 1   F          State2      0
8                 1   F          State3      0
12                2   F          State1   1310
13                2   F          State2      0
14                2   F          State3      0
18                3   F          State1   1640
19                3   F          State2      0
20                3   F          State3      0
24                4   F          State1   1820
25                4   F          State2      0
26                4   F          State3      0
30                5   F          State1   1990
31                5   F          State2      0
32                5   F          State3      0
36                6   F          State1   2200
37                6   F          State2      0
38                6   F          State3      0
42                7   F          State1   2390
43                7   F          State2      0
44                7   F          State3      0
48                8   F          State1   2620
49                8   F          State2      0
50                8   F          State3      0
54                9   F          State1   2880
55                9   F          State2      0
56                9   F          State3      0
..              ...  ..             ...    ...
840             140   F          State1    140
841             140   F          State2      0
842             140   F          State3      0
846             141   F          State1    130
847             141   F          State2      0
848             141   F          State3      0
852             142   F          State1    120
853             142   F          State2      0
854             142   F          State3      0
858             143   F          State1    120
859             143   F          State2      0
860             143   F          State3      0
864             144   F          State1     90
865             144   F          State2      0
866             144   F          State3      0
870             145   F          State1     80
871             145   F          State2      0
872             145   F          State3      0
876             146   F          State1     70
877             146   F          State2      0
878             146   F          State3      0
882             147   F          State1     70
883             147   F          State2      0
884             147   F          State3      0
888             148   F          State1     70
889             148   F          State2      0
890             148   F          State3      0
894             149   F          State1     60
895             149   F          State2      0
896             149   F          State3      0

[450 rows x 4 columns]

In [69]:
plot = Scatter(newly_sick_females_per_day_by_state, x='simulator_time', y='count', color='location_admin2',
            title="Newly Sick Females per Day by State", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(plot)

In [6]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_per_day_by_state_and_county \
    = newly_sick.groupby(['simulator_time', 'sex','location_admin1',"location_admin2"])['count'].aggregate(sum)
    
newly_sick_per_day_by_state_and_county = newly_sick_per_day_by_state_and_county.to_frame("count")
newly_sick_per_day_by_state_and_county = newly_sick_per_day_by_state_and_county.reset_index()

newly_sick_females_per_day_by_state_and_county = (newly_sick_per_day_by_state_and_county
    [newly_sick_per_day_by_state_and_county.sex.str.contains("F") == True])
    
newly_sick_females_per_day_in_state_1 = (newly_sick_females_per_day_by_state_and_county
    [newly_sick_females_per_day_by_state_and_county.location_admin1.str.contains("State1") == True])

newly_sick_females_per_day_in_state_1

      simulator_time sex location_admin1 location_admin2  count
0                  0   F          State1         County1      0
1                  0   F          State1         County2      0
2                  0   F          State1         County3      0
18                 1   F          State1         County1      0
19                 1   F          State1         County2      0
20                 1   F          State1         County3      0
36                 2   F          State1         County1    370
37                 2   F          State1         County2     70
38                 2   F          State1         County3    870
54                 3   F          State1         County1    460
55                 3   F          State1         County2     80
56                 3   F          State1         County3   1100
72                 4   F          State1         County1    510
73                 4   F          State1         County2     90
74                 4   F          State1         County3   1220
90                 5   F          State1         County1    560
91                 5   F          State1         County2    100
92                 5   F          State1         County3   1330
108                6   F          State1         County1    620
109                6   F          State1         County2    120
110                6   F          State1         County3   1460
126                7   F          State1         County1    670
127                7   F          State1         County2    120
128                7   F          State1         County3   1600
144                8   F          State1         County1    740
145                8   F          State1         County2    130
146                8   F          State1         County3   1750
162                9   F          State1         County1    810
163                9   F          State1         County2    150
164                9   F          State1         County3   1920
...              ...  ..             ...             ...    ...
2520             140   F          State1         County1     20
2521             140   F          State1         County2     40
2522             140   F          State1         County3     80
2538             141   F          State1         County1     20
2539             141   F          State1         County2     30
2540             141   F          State1         County3     80
2556             142   F          State1         County1     20
2557             142   F          State1         County2     30
2558             142   F          State1         County3     70
2574             143   F          State1         County1     20
2575             143   F          State1         County2     30
2576             143   F          State1         County3     70
2592             144   F          State1         County1     10
2593             144   F          State1         County2     30
2594             144   F          State1         County3     50
2610             145   F          State1         County1     10
2611             145   F          State1         County2     20
2612             145   F          State1         County3     50
2628             146   F          State1         County1     10
2629             146   F          State1         County2     20
2630             146   F          State1         County3     40
2646             147   F          State1         County1     10
2647             147   F          State1         County2     20
2648             147   F          State1         County3     40
2664             148   F          State1         County1     10
2665             148   F          State1         County2     20
2666             148   F          State1         County3     40
2682             149   F          State1         County1     10
2683             149   F          State1         County2     20
2684             149   F          State1         County3     30

[450 rows x 5 columns]

In [7]:
p = Scatter(newly_sick_females_per_day_in_state_1, x='simulator_time', y='count', color='location_admin2',
            title="Newly Sick Females per Day by Counties in State 1", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(p)

/Users/jdl50/anaconda/lib/python3.5/site-packages/bokeh/charts/_attributes.py:78: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  df = df.sort(columns=columns)

In [43]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_per_day_by_state_and_county \
    = newly_sick.groupby(['simulator_time', 'sex','location_admin1',"location_admin2", "integer_age"])['count'].aggregate(sum)
    
newly_sick_per_day_by_state_and_county = newly_sick_per_day_by_state_and_county.to_frame("count")
newly_sick_per_day_by_state_and_county = newly_sick_per_day_by_state_and_county.reset_index()

newly_sick_females_per_day_by_state_and_county = (newly_sick_per_day_by_state_and_county
    [newly_sick_per_day_by_state_and_county.sex.str.contains("F") == True])
    
newly_sick_females_per_day_in_state_1 = (newly_sick_females_per_day_by_state_and_county
    [newly_sick_females_per_day_by_state_and_county.location_admin1.str.contains("State1") == True])

newly_sick_females_per_day_in_state_1_county_1 = (newly_sick_females_per_day_by_state_and_county
    [newly_sick_females_per_day_by_state_and_county.location_admin2.str.contains("County1") == True])


newly_sick_females_per_day_in_state_1_county_1

bins = [0, 5, 18, 25, 65, 100]

def func(row):
    return pd.cut([row['integer_age']], bins=bins, labels=["infant","school_age","college_age","working_age","twilight_age"])[0]

newly_sick_females_per_day_in_state_1_county_1['age_group'] = newly_sick_females_per_day_in_state_1_county_1.apply(func, axis=1)
newly_sick_females_per_day_in_state_1_county_1= newly_sick_females_per_day_in_state_1_county_1.groupby(['simulator_time', 'age_group'])['count'].aggregate(sum)
newly_sick_females_per_day_in_state_1_county_1 = newly_sick_females_per_day_in_state_1_county_1.to_frame("count")
newly_sick_females_per_day_in_state_1_county_1 = newly_sick_females_per_day_in_state_1_county_1.reset_index()
newly_sick_females_per_day_in_state_1_county_1

/Users/jdl50/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     simulator_time     age_group  count
0                 0   college_age      0
1                 0        infant      0
2                 0    school_age      0
3                 0  twilight_age      0
4                 0   working_age      0
5                 1   college_age      0
6                 1        infant      0
7                 1    school_age      0
8                 1  twilight_age      0
9                 1   working_age      0
10                2   college_age    126
11                2        infant      0
12                2    school_age      0
13                2  twilight_age      0
14                2   working_age    244
15                3   college_age    156
16                3        infant      0
17                3    school_age      0
18                3  twilight_age      0
19                3   working_age    304
20                4   college_age    174
21                4        infant      0
22                4    school_age      0
23                4  twilight_age      0
24                4   working_age    336
25                5   college_age    192
26                5        infant      0
27                5    school_age      0
28                5  twilight_age      0
29                5   working_age    368
..              ...           ...    ...
720             144   college_age      0
721             144        infant      0
722             144    school_age      0
723             144  twilight_age      0
724             144   working_age     10
725             145   college_age      0
726             145        infant      0
727             145    school_age      0
728             145  twilight_age      0
729             145   working_age     10
730             146   college_age      0
731             146        infant      0
732             146    school_age      0
733             146  twilight_age      0
734             146   working_age     10
735             147   college_age      0
736             147        infant      0
737             147    school_age      0
738             147  twilight_age      0
739             147   working_age     10
740             148   college_age      0
741             148        infant      0
742             148    school_age      0
743             148  twilight_age      0
744             148   working_age     10
745             149   college_age      0
746             149        infant      0
747             149    school_age      0
748             149  twilight_age      0
749             149   working_age     10

[750 rows x 3 columns]

In [44]:
p = Scatter(newly_sick_females_per_day_in_state_1_county_1, x='simulator_time', y='count', color='age_group',
            title="fix me", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(p)

/Users/jdl50/anaconda/lib/python3.5/site-packages/bokeh/charts/_attributes.py:78: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  df = df.sort(columns=columns)