In [76]:
from collections import OrderedDict
from bokeh.charts import output_file
from bokeh.palettes import Spectral11
from bokeh.plotting import figure, show

from bokeh.sampledata.iris import flowers
from bokeh.charts import Scatter

import numpy as np
import pandas as pd
import tables

# 1. Load line listing from web server

In [88]:
line_listing = pd.read_csv('http://research.rods.pitt.edu/line_listing.csv')
line_listing

,simulator_time,location_admin1,location_admin2,sex,integer_age,infection_state,count
0,0,State1,County1,M,1,SUSCEPTIBLE,0
1,0,State1,County2,M,1,SUSCEPTIBLE,0
2,0,State1,County3,M,1,SUSCEPTIBLE,0
3,0,State2,County1,M,1,SUSCEPTIBLE,2000
4,0,State2,County2,M,1,SUSCEPTIBLE,5000
5,0,State2,County3,M,1,SUSCEPTIBLE,3000
6,0,State3,County1,M,1,SUSCEPTIBLE,6000
7,0,State3,County2,M,1,SUSCEPTIBLE,15000
8,0,State3,County3,M,1,SUSCEPTIBLE,9000
9,1,State1,County1,M,1,SUSCEPTIBLE,0
10,1,State1,County2,M,1,SUSCEPTIBLE,0
11,1,State1,County3,M,1,SUSCEPTIBLE,0
12,1,State2,County1,M,1,SUSCEPTIBLE,2000
13,1,State2,County2,M,1,SUSCEPTIBLE,5000
14,1,State2,County3,M,1,SUSCEPTIBLE,3000
15,1,State3,County1,M,1,SUSCEPTIBLE,6000
16,1,State3,County2,M,1,SUSCEPTIBLE,15000
17,1,State3,County3,M,1,SUSCEPTIBLE,9000
18,2,State1,County1,M,1,SUSCEPTIBLE,0
19,2,State1,County2,M,1,SUSCEPTIBLE,0
20,2,State1,County3,M,1,SUSCEPTIBLE,0
21,2,State2,County1,M,1,SUSCEPTIBLE,2000
22,2,State2,County2,M,1,SUSCEPTIBLE,5000
23,2,State2,County3,M,1,SUSCEPTIBLE,3000
24,2,State3,County1,M,1,SUSCEPTIBLE,6000
25,2,State3,County2,M,1,SUSCEPTIBLE,15000
26,2,State3,County3,M,1,SUSCEPTIBLE,9000
27,3,State1,County1,M,1,SUSCEPTIBLE,0
28,3,State1,County2,M,1,SUSCEPTIBLE,0
29,3,State1,County3,M,1,SUSCEPTIBLE,0
...,...,...,...,...,...,...,...
1336470,146,State3,County1,F,99,NEWLY_SICK,0
1336471,146,State3,County2,F,99,NEWLY_SICK,0
1336472,146,State3,County3,F,99,NEWLY_SICK,0
1336473,147,State1,County1,F,99,NEWLY_SICK,0
1336474,147,State1,County2,F,99,NEWLY_SICK,0
1336475,147,State1,County3,F,99,NEWLY_SICK,0
1336476,147,State2,County1,F,99,NEWLY_SICK,0
1336477,147,State2,County2,F,99,NEWLY_SICK,0
1336478,147,State2,County3,F,99,NEWLY_SICK,0
1336479,147,State3,County1,F,99,NEWLY_SICK,0
1336480,147,State3,County2,F,99,NEWLY_SICK,0
1336481,147,State3,County3,F,99,NEWLY_SICK,0
1336482,148,State1,County1,F,99,NEWLY_SICK,0
1336483,148,State1,County2,F,99,NEWLY_SICK,0
1336484,148,State1,County3,F,99,NEWLY_SICK,0
1336485,148,State2,County1,F,99,NEWLY_SICK,0
1336486,148,State2,County2,F,99,NEWLY_SICK,0
1336487,148,State2,County3,F,99,NEWLY_SICK,0
1336488,148,State3,County1,F,99,NEWLY_SICK,0
1336489,148,State3,County2,F,99,NEWLY_SICK,0
1336490,148,State3,County3,F,99,NEWLY_SICK,0
1336491,149,State1,County1,F,99,NEWLY_SICK,0
1336492,149,State1,County2,F,99,NEWLY_SICK,0
1336493,149,State1,County3,F,99,NEWLY_SICK,0
1336494,149,State2,County1,F,99,NEWLY_SICK,0
1336495,149,State2,County2,F,99,NEWLY_SICK,0
1336496,149,State2,County3,F,99,NEWLY_SICK,0
1336497,149,State3,County1,F,99,NEWLY_SICK,0
1336498,149,State3,County2,F,99,NEWLY_SICK,0
1336499,149,State3,County3,F,99,NEWLY_SICK,0

# 2. Get the total count of NEWLY_SICK per time step

In [95]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick = newly_sick.groupby(['simulator_time'])['count'].aggregate(sum)
newly_sick = newly_sick.to_frame("count")
newly_sick = newly_sick.reset_index()
newly_sick

     simulator_time  count
0                 0      0
1                 1      0
2                 2   3462
3                 3   4150
4                 4   4448
5                 5   4706
6                 6   4938
7                 7   5170
8                 8   5416
9                 9   5596
10               10   5896
11               11   6151
12               12   6446
13               13   6776
14               14   7099
15               15   7457
16               16   7829
17               17   8182
18               18   8643
19               19   9139
20               20   9555
21               21  10147
22               22  10640
23               23  11248
24               24  11898
25               25  12583
26               26  13336
27               27  14105
28               28  14789
29               29  15642
..              ...    ...
120             120  14736
121             121  14516
122             122  14237
123             123  14024
124             124  13832
125             125  13614
126             126  13436
127             127  13178
128             128  13094
129             129  12904
130             130  12700
131             131  12517
132             132  12327
133             133  12144
134             134  12015
135             135  11912
136             136  11757
137             137  11574
138             138  11419
139             139  11264
140             140  11149
141             141  10954
142             142  10886
143             143  10731
144             144  10576
145             145  10435
146             146  10334
147             147  10193
148             148  10045
149             149   9958

[150 rows x 2 columns]

## Plot the results

In [96]:
plot = Scatter(newly_sick, x='simulator_time', y='count',
            title="Newly Sick Per Day by Age", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspd.html")
show(plot)

## 3.  Let's look for a pattern, can we see any difference by looking at sex?

In [97]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_by_sex = newly_sick.groupby(['simulator_time', 'sex'])['count'].aggregate(sum)
newly_sick_by_sex = newly_sick_by_sex.to_frame("count")
newly_sick_by_sex = newly_sick_by_sex.reset_index()
newly_sick_by_sex

     simulator_time sex  count
0                 0   F      0
1                 0   M      0
2                 1   F      0
3                 1   M      0
4                 2   F   2238
5                 2   M   1224
6                 3   F   2811
7                 3   M   1339
8                 4   F   3041
9                 4   M   1407
10                5   F   3238
11                5   M   1468
12                6   F   3409
13                6   M   1529
14                7   F   3573
15                7   M   1597
16                8   F   3751
17                8   M   1665
18                9   F   3910
19                9   M   1686
20               10   F   4142
21               10   M   1754
22               11   F   4355
23               11   M   1796
24               12   F   4575
25               12   M   1871
26               13   F   4863
27               13   M   1913
28               14   F   5071
29               14   M   2028
..              ...  ..    ...
270             135   F   4421
271             135   M   7491
272             136   F   4301
273             136   M   7456
274             137   F   4207
275             137   M   7367
276             138   F   4087
277             138   M   7332
278             139   F   3967
279             139   M   7297
280             140   F   3927
281             140   M   7222
282             141   F   3767
283             141   M   7187
284             142   F   3687
285             142   M   7199
286             143   F   3607
287             143   M   7124
288             144   F   3480
289             144   M   7096
290             145   F   3400
291             145   M   7035
292             146   F   3320
293             146   M   7014
294             147   F   3240
295             147   M   6953
296             148   F   3120
297             148   M   6925
298             149   F   3080
299             149   M   6878

[300 rows x 3 columns]

In [98]:
plot = Scatter(newly_sick_by_sex, x='simulator_time', y='count', color='sex',
            title="Newly Sick Per Day by Sex", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(plot)

## 4. It looks like females are affected more than males...can we see a pattern if we look at the data for the females by state?

In [48]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_by_sex_and_state = newly_sick.groupby(['simulator_time', 'sex','location_admin1'])['count'].aggregate(sum)
newly_sick_by_sex_and_state = newly_sick_by_sex_and_state.to_frame("count")
newly_sick_by_sex_and_state = newly_sick_by_sex_and_state.reset_index()

newly_sick_females_by_state = (newly_sick_by_sex_and_state
                                       [newly_sick_by_sex_and_state.sex.str.contains("F") == True])
newly_sick_females_by_state

     simulator_time sex location_admin1  count
0                 0   F          State1      0
1                 0   F          State2      0
2                 0   F          State3      0
6                 1   F          State1      0
7                 1   F          State2      0
8                 1   F          State3      0
12                2   F          State1   1310
13                2   F          State2      0
14                2   F          State3      0
18                3   F          State1   1640
19                3   F          State2      0
20                3   F          State3      0
24                4   F          State1   1820
25                4   F          State2      0
26                4   F          State3      0
30                5   F          State1   1990
31                5   F          State2      0
32                5   F          State3      0
36                6   F          State1   2200
37                6   F          State2      0
38                6   F          State3      0
42                7   F          State1   2390
43                7   F          State2      0
44                7   F          State3      0
48                8   F          State1   2620
49                8   F          State2      0
50                8   F          State3      0
54                9   F          State1   2880
55                9   F          State2      0
56                9   F          State3      0
..              ...  ..             ...    ...
840             140   F          State1    140
841             140   F          State2      0
842             140   F          State3      0
846             141   F          State1    130
847             141   F          State2      0
848             141   F          State3      0
852             142   F          State1    120
853             142   F          State2      0
854             142   F          State3      0
858             143   F          State1    120
859             143   F          State2      0
860             143   F          State3      0
864             144   F          State1     90
865             144   F          State2      0
866             144   F          State3      0
870             145   F          State1     80
871             145   F          State2      0
872             145   F          State3      0
876             146   F          State1     70
877             146   F          State2      0
878             146   F          State3      0
882             147   F          State1     70
883             147   F          State2      0
884             147   F          State3      0
888             148   F          State1     70
889             148   F          State2      0
890             148   F          State3      0
894             149   F          State1     60
895             149   F          State2      0
896             149   F          State3      0

[450 rows x 4 columns]

In [101]:
plot = Scatter(newly_sick_females_by_state, x='simulator_time', y='count', color='location_admin1',
            title="Newly Sick Females per Day by State", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(plot)

# 5. It looks like only State1 is affected by the disease, let's look at females in the counties in that state...

In [49]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_by_state_and_county \
    = newly_sick.groupby(['simulator_time', 'sex','location_admin1',"location_admin2"])['count'].aggregate(sum)
    
newly_sick_by_state_and_county = newly_sick_by_state_and_county.to_frame("count")
newly_sick_by_state_and_county = newly_sick_by_state_and_county.reset_index()

newly_sick_females_by_state_and_county = (newly_sick_by_state_and_county
    [newly_sick_by_state_and_county.sex.str.contains("F") == True])
    
newly_sick_females_in_state_1 = (newly_sick_females_by_state_and_county
    [newly_sick_females_by_state_and_county.location_admin1.str.contains("State1") == True])

newly_sick_females_in_state_1

      simulator_time sex location_admin1 location_admin2  count
0                  0   F          State1         County1      0
1                  0   F          State1         County2      0
2                  0   F          State1         County3      0
18                 1   F          State1         County1      0
19                 1   F          State1         County2      0
20                 1   F          State1         County3      0
36                 2   F          State1         County1    370
37                 2   F          State1         County2     70
38                 2   F          State1         County3    870
54                 3   F          State1         County1    460
55                 3   F          State1         County2     80
56                 3   F          State1         County3   1100
72                 4   F          State1         County1    510
73                 4   F          State1         County2     90
74                 4   F          State1         County3   1220
90                 5   F          State1         County1    560
91                 5   F          State1         County2    100
92                 5   F          State1         County3   1330
108                6   F          State1         County1    620
109                6   F          State1         County2    120
110                6   F          State1         County3   1460
126                7   F          State1         County1    670
127                7   F          State1         County2    120
128                7   F          State1         County3   1600
144                8   F          State1         County1    740
145                8   F          State1         County2    130
146                8   F          State1         County3   1750
162                9   F          State1         County1    810
163                9   F          State1         County2    150
164                9   F          State1         County3   1920
...              ...  ..             ...             ...    ...
2520             140   F          State1         County1     20
2521             140   F          State1         County2     40
2522             140   F          State1         County3     80
2538             141   F          State1         County1     20
2539             141   F          State1         County2     30
2540             141   F          State1         County3     80
2556             142   F          State1         County1     20
2557             142   F          State1         County2     30
2558             142   F          State1         County3     70
2574             143   F          State1         County1     20
2575             143   F          State1         County2     30
2576             143   F          State1         County3     70
2592             144   F          State1         County1     10
2593             144   F          State1         County2     30
2594             144   F          State1         County3     50
2610             145   F          State1         County1     10
2611             145   F          State1         County2     20
2612             145   F          State1         County3     50
2628             146   F          State1         County1     10
2629             146   F          State1         County2     20
2630             146   F          State1         County3     40
2646             147   F          State1         County1     10
2647             147   F          State1         County2     20
2648             147   F          State1         County3     40
2664             148   F          State1         County1     10
2665             148   F          State1         County2     20
2666             148   F          State1         County3     40
2682             149   F          State1         County1     10
2683             149   F          State1         County2     20
2684             149   F          State1         County3     30

[450 rows x 5 columns]

In [103]:
p = Scatter(newly_sick_females_in_state_1, x='simulator_time', y='count', color='location_admin2',
            title="Newly Sick Females per Day by Counties in State 1", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(p)

# 6. Okay it looks like mostly females in County1 are affected...finally, let see if we can find a pattern by looking at the females in this county by their age...

In [50]:
newly_sick = line_listing[line_listing['infection_state'] == 'NEWLY_SICK']

newly_sick_by_age_sex_and_location \
    = (newly_sick.groupby(['simulator_time', 'sex','location_admin1',
                          "location_admin2", "integer_age"])['count'].aggregate(sum))
    
newly_sick_by_age_sex_and_location = newly_sick_by_age_sex_and_location.to_frame("count")
newly_sick_by_age_sex_and_location = newly_sick_by_age_sex_and_location.reset_index()

newly_sick_females_by_age_and_location = (newly_sick_by_age_sex_and_location
    [newly_sick_by_age_sex_and_location.sex.str.contains("F") == True])
    
newly_sick_females_by_age_in_state_1 = (newly_sick_females_by_age_and_location
    [newly_sick_females_by_age_and_location.location_admin1.str.contains("State1") == True])

newly_sick_females_by_age_in_state_1_county_1 = (newly_sick_females_by_age_in_state_1
    [newly_sick_females_by_age_in_state_1.location_admin2.str.contains("County1") == True])

bins = [0, 5, 18, 25, 65, 100]

def func(row):
    return (pd.cut([row['integer_age']], bins=bins, 
                  labels=["infant","school_age","college_age","working_age","senior_citizen_age"])[0])

newly_sick_females_by_age_in_state_1_county_1['age_group'] \
    = newly_sick_females_by_age_in_state_1_county_1.apply(func, axis=1)
    
newly_sick_females_by_age_group_in_state_1_county_1 \
    = newly_sick_females_by_age_in_state_1_county_1.groupby(['simulator_time', 'age_group'])['count'].aggregate(sum)
newly_sick_females_by_age_group_in_state_1_county_1 \
    = newly_sick_females_by_age_group_in_state_1_county_1.to_frame("count")
newly_sick_females_by_age_group_in_state_1_county_1 \
    = newly_sick_females_by_age_group_in_state_1_county_1.reset_index()
newly_sick_females_by_age_group_in_state_1_county_1

/Users/jdl50/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     simulator_time           age_group  count
0                 0         college_age      0
1                 0              infant      0
2                 0          school_age      0
3                 0  senior_citizen_age      0
4                 0         working_age      0
5                 1         college_age      0
6                 1              infant      0
7                 1          school_age      0
8                 1  senior_citizen_age      0
9                 1         working_age      0
10                2         college_age    126
11                2              infant      0
12                2          school_age      0
13                2  senior_citizen_age      0
14                2         working_age    244
15                3         college_age    156
16                3              infant      0
17                3          school_age      0
18                3  senior_citizen_age      0
19                3         working_age    304
20                4         college_age    174
21                4              infant      0
22                4          school_age      0
23                4  senior_citizen_age      0
24                4         working_age    336
25                5         college_age    192
26                5              infant      0
27                5          school_age      0
28                5  senior_citizen_age      0
29                5         working_age    368
..              ...                 ...    ...
720             144         college_age      0
721             144              infant      0
722             144          school_age      0
723             144  senior_citizen_age      0
724             144         working_age     10
725             145         college_age      0
726             145              infant      0
727             145          school_age      0
728             145  senior_citizen_age      0
729             145         working_age     10
730             146         college_age      0
731             146              infant      0
732             146          school_age      0
733             146  senior_citizen_age      0
734             146         working_age     10
735             147         college_age      0
736             147              infant      0
737             147          school_age      0
738             147  senior_citizen_age      0
739             147         working_age     10
740             148         college_age      0
741             148              infant      0
742             148          school_age      0
743             148  senior_citizen_age      0
744             148         working_age     10
745             149         college_age      0
746             149              infant      0
747             149          school_age      0
748             149  senior_citizen_age      0
749             149         working_age     10

[750 rows x 3 columns]

In [51]:
p = Scatter(newly_sick_females_by_age_group_in_state_1_county_1, x='simulator_time', y='count', color='age_group',
            title="Newly Sick Females Per Day by Age Group", legend="top_left",
            xlabel="Day", ylabel="Newly Sick")
output_file("nspdbs.html")
show(p)

/Users/jdl50/anaconda/lib/python3.5/site-packages/bokeh/charts/_attributes.py:78: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  df = df.sort(columns=columns)